@charset "UTF-8";

main {
    height: 90vh;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

.catch {
    text-align: center;
}

main {
    background-image: url(../img/interior-3778708_1920.jpg);
    background-size: cover;
}

main h1 {
    color: white;
    font-size: 60px;
}
main span {
    background-color: green;
    border-radius: 100%;
    padding: 20px;
}

main h3 {
    margin-top: 20px;
    color: rgb(255, 255, 255);
    font-size: 40px;
}

section {
   display: flex;
    width: 100%;
    margin-top: 40px;
    /* height: 100vh; */
    margin:0 auto;
}
.main-menu {
    width: 100%;
    /* height: 3500px; */
}
.aside-menu {
    width: 20%;
}

.souba {
    margin-top: 40px;
    width: 100%;   
}
.souba h2{
    font-size: 30px;
    text-align: center;
}
.souba p {
    font-size: 20px;
    text-align: center;
}
.chintai img{
    width: 60%;
}
.chintai {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.chintai p {
    width: 60%;
   text-align: end;
}

.reason {
    width: 60%;
    margin: 0 auto;
}
.reason h2 {
    font-size: 35px;
    margin-top: 30px;
}
.reason p {
    font-size: 20px;
    line-height: 50px;
}

.reason img {
    width: 100%;
}


/* aside-menu */
.aside-menu {
    height: 400px;
    background-color: white;
    margin:0 auto;
    /* position: fixed; */
}
.aside-menu li {
    margin: 40px 20px;
   
}

.aside-menu a {
    color: black;
    font-size: 25px;
    text-decoration: none;
    border-bottom: 3px solid rgb(78, 92, 87);

}
.aside-menu h4 {
    margin-top: 30px;
    font-size: 26px;
    border-bottom: 3px solid aquamarine;
}

.site {
    margin-top: 50px;
    margin-bottom: 10px;
    width: 100%;
    height: 80px;
    /* background-color: black; */
    display: flex;
}
.site-img {
    width: 40%;
    /* background-color: yellow; */
}
.site-img img {
    width: 100%;
}
.site p {
    margin-left: 10px;
    width: 60%;
    /* background-color: red; */
    font-size: 17px;
}
.site span {
    border-bottom: 2px solid red;
}

/* aside-menu終了 */

