@charset "UTF-8";

main {
    height: 90vh;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

.catch {
    text-align: center;
}

main {
    background-image: url(../img/interior-3778708_1920.jpg);
    background-size: cover;
}

main h1 {
    color: white;
    font-size: 60px;
}
main span {
    background-color: green;
    border-radius: 100%;
    padding: 20px;
}

main h3 {
    margin-top: 20px;
    color: rgb(255, 255, 255);
    font-size: 40px;
}

section {
   display: flex;
    width: 100%;
    margin-top: 40px;
    height: 100vh;
    margin:0 auto;
}

.souba {
    margin-top: 40px;
    width: 100%;   
}
.souba h2{
    font-size: 30px;
    text-align: center;
}
.souba p {
    font-size: 20px;
    text-align: center;
}
.chintai img{
    width: 60%;
}
.chintai {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.chintai p {
    width: 60%;
   text-align: end;
}

.reason {
    width: 60%;
    margin: 0 auto;
}

.reason img {
    width: 100%;
}




