@charset "UTF-8";

header {
    height: 75px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

header h1 {
    margin-top: 15px;
    width: 30%;
    font-size: 30px;
}



.nav-item a{
    font-size:25px;
    color: black;
}
.nav-item a:hover {
    color: green;

}

header img {
    width: 20%;

}




.info-bar {
    background-color: red;
    padding: 10px 40px;
    border-radius: 4%;
}

.header-right a {
    font-size: 20px;
    color: white;
    text-decoration: none;

}


/* モーダル */
.modal-close {
    text-align: right;
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
}

.modal-wrapper {
    min-height: 400px;
}

.modal-content {
    display: none;
    position: relative;
    top: 50%;
    right: 100%;
    text-align: center;
    width: 500px;
    height: 300px;
    margin-top: -150px;
    margin-left: -250px;
    background-color: #fff;
    z-index: 2;
}

.modal-content p{
    font-size: 20px;
}
#modal-bg {
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.modal-open {
    overflow: hidden;
}

/* モーダルここまで */



