@charset "UTF-8";
ccccccccc

header {
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.menu{
    width: 30%;
}

.manu ul {
    display: flex;
}



main {
    height: 90vh;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

main h1 {
    color: green;
    font-size: 60px;
}